{% extends "base.html.twig" %}
{% block view %}
    {% include 'partials/modal.html.twig' %}
    <div class="container">
        <div id="calendar"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const dates = [];
        {% for time in sessions %}
            dates.push({
                date: new Date({{ time.getReservedAt().format('Y') }}, {{ time.getReservedAt().format('m') }}, {{ time.getReservedAt().format('d') }}),
                type: "{{ time.getType() }}",
                from: "{{ time.getStartsAt().format('H:ii') }}",
                to: "{{ time.getEndsAt().format('H:ii') }}",
                repeatFor: 1,
                old: true
            });
        {% endfor %}
    </script>
    <script src="{{ asset('build/js/times.js') }}"> </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/add-time.css') }}">
{% endblock %}
