{% extends "base.html.twig" %}
{% set availabilities = [{'year':2018,'month':10,'day':24,'type':"Adults",'from':'12:00','to':'13:00'},{'year':2018,'month':10,'day':24,'type':"Kids",'from':'12:00','to':'13:00'},{'year':2018,'month':10,'day':25,'type':"Adults",'from':'12:00','to':'13:00'},{'year':2018,'month':10,'day':23,'type':"Kids",'from':'12:00','to':'13:00'}] %}
{% block view %}
    {% include 'partials/modal.html.twig' %}
    <div class="container">
        <div id="calendar"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const dates = [];
        {% for time in availabilities %}
            dates.push({
                date: new Date({{ time.year }}, {{ time.month-1 }}, {{ time.day }}),
                type: "{{ time.type }}",
                from: "{{ time.from }}",
                to: "{{ time.to }}",
                repeatFor: 1,
                old: true
            });
        {% endfor %}
    </script>
    <script src="{{ asset('build/js/times.js') }}"> </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/add-time.css') }}">
{% endblock %}
