{% extends "base.html.twig" %}
{% block view %}
    {#<div class="Sessions row">#}
        {#{% for session in sessions %}#}
            {#<div class="Session col-lg-6 p-3">#}
                {#<div class="inside card-body">#}
                    {#<div class="row">#}
                        {#<div class="form-group col-md-6">#}
                            {#<label for="days">Day of the week</label>#}
                            {#<select class="form-control" id="days">#}
                                {#<option {% if session.getDayOfTheWeek=="Monday" %} selected {% endif %}>Monday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Tuesday" %} selected {% endif %}>Tuesday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Wednesday" %} selected {% endif %}>Wednesday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Thursday" %} selected {% endif %}>Thursday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Friday" %} selected {% endif %}>Friday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Saturday" %} selected {% endif %}>Saturday</option>#}
                                {#<option {% if session.getDayOfTheWeek=="Sunday" %} selected {% endif %}>Sunday</option>#}
                            {#</select>#}
                        {#</div>#}
                        {#<div class="form-group col-md-6">#}
                            {#<label for="days">Type</label>#}
                            {#<select class="form-control" id="days">#}
                                {#<option {% if session.getType=="Kids" %} selected {% endif %}>Kids</option>#}
                                {#<option {% if session.getType=="Adults" %} selected {% endif %}>Adults</option>#}
                            {#</select>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="form-group col-md-6">#}
                            {#<label for="timepicker">From</label>#}
                            {#<input type="text" name="timepicker" value="{{ session.getFrom }}" placeholder="12:00" class="form-control" data-timepicker="" autocomplete="off">#}
                        {#</div>#}
                        {#<div class="form-group col-md-6">#}
                            {#<label for="timepicker">To</label>#}
                            {#<input type="text" name="timepicker" value="{{ session.getTo }}" placeholder="12:00" class="form-control" data-timepicker="" autocomplete="off">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                        {#<div class="form-group col-md-6">#}
                            {#<label for="price">Price</label>#}
                            {#<div class="input-group">#}
                                {#<input type="number" value="{{ session.getPrice }}" class="form-control">#}
                                {#<div class="input-group-append">#}
                                    {#<span class="input-group-text">€</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="form-group col-md-4">#}
                            {#<label for="timepicker"> ​</label>#}
                            {#<input type="button" value="Remove" class="RemoveButton btn--gray form-control">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}
    {#<div class="row mt-4">#}
        {#<div class="form-group col-md-2">#}
            {#<input type="button" class="AddButton form-control btn-secondary" value="Add">#}
        {#</div>#}
        {#<div class="form-group col-md-7"></div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="form-group col-md-10"></div>#}
        {#<div class="form-group col-md-2">#}
            {#<input type="submit" class="form-control btn-secondary" value="Save">#}
        {#</div>#}
    {#</div>#}
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Add time to Monday</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                            <div class="form-group col-md-12">
                                <label for="days">Type</label>
                                <select class="form-control Type">
                                    <option selected >Kids</option>
                                    <option>Adults</option>
                                </select>
                            </div>


                                <div class="form-group col-md-12">
                                    <label for="timepicker">From</label>
                                    <input type="text" name="timepicker" value="" placeholder="12:00" class="form-control From" data-timepicker="" autocomplete="off">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="timepicker">To</label>
                                    <input type="text" name="timepicker" value="" placeholder="12:00" class="form-control To" data-timepicker="" autocomplete="off">
                                </div>


                            <div class="form-group col-md-12">
                                <label for="price">Price</label>
                                <div class="input-group">
                                    <input type="number" value="" class="form-control Price">
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn--gray" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary Save">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-responsive-sm">
        <thead class="header">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-day="Monday" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>

            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
            <td>
                <button type="button" class="AddButton btn--gray form-control" data-toggle="modal" data-target="#exampleModalCenter">
                    Add
                </button>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('build/js/times.js') }}" > </script>
    <script>
        $( function() {
            $('.AddButton').click((e)=>{
                const target = $(e.target);
                const index = target.parent().index();
                const table = target.closest('table');
                const DayOfTheWeek = table.find('.header th').eq(index).html();
                $('.modal-body form')[0].reset();
                $('.modal').attr('data-day',DayOfTheWeek);
                $('.modal-title').html("Add time to " + DayOfTheWeek);
            });
            $('.Save').click(()=>{
                $.post( "/time-slot-submit", { Type : $('.Type').val(), Time : $('.Time').val(),Price : $('.Price').val(),From : $('.From').val(),To : $('.To').val(),Day : $('.modal').attr('data-day')} )
                    .done(()=>{
                        location.reload();
                    });

            });
        });
    </script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/add-time.css') }}">
{% endblock %}
