{% extends "base.html.twig" %}
{% block view %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <canvas class="RegistrationChart chartjs-render-monitor" height="100px"></canvas>
            <table class="table table-responsive-sm table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email Adress</th>
                    <th>Mobile Phone</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for registration in registrations %}
                    <tr>
                        <td>{{ registration.getId() }}</td>
                        <td>{{  registration.getName() }}</td>
                        <td>{{  registration.getEmail() }}</td>
                        <td>{{  registration.getMnumber() }}</td>
                        <td>{{  registration.getDate() }}</td>
                        <td>
                            {% if  registration.getStatus()=="Successful"%}
                            <span class="badge badge-success">{{  registration.getStatus() }}</span>
                            {% endif %}
                            {% if  registration.getStatus()=="Pending"%}
                                <span class="badge badge-warning">{{  registration.getStatus() }}</span>
                            {% endif %}
                            {% if  registration.getStatus()=="Cancelled"%}
                                <span class="badge badge-danger">{{  registration.getStatus() }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col1"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('build/js/registrations.js') }}"></script>
{% endblock %}